.about-card {
  margin: 0% 20%;
  font-size: 18px;
  padding: 20px 40px;
}
.feature-div {
  display: flex;
  gap: 20px;
}
.feature-div p {
  font-size: 16px;
  border: 2px solid #c9ced5;
  padding: 10px;
  border-radius: 10px;
}
.about-txt {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 0px;
}
.goal-txt {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}

@media (max-width: 1200px) {
  .about-card {
    font-size: 15px;
  }
  .feature-div {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0px;
    align-items: start;
    column-gap: 10px;
  }
}

@media (max-width: 900px) {
  .about-card {
    font-size: 14px;
  }
  .feature-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    column-gap: 10px;
  }
  .feature-div p {
    font-size: 14px;
  }
}
/* Mobile */
@media (max-width: 425px) {
  .about-card {
    margin: 0% 10%;
    font-size: 13px;
    text-align: justify;
    padding: 20px 30px;
    /* height: 70vh; */
  }
  .feature-div {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    column-gap: 20px;
  }
  .feature-div p {
    font-size: 12px;
    box-shadow: 5px 5px 10px rgba(163, 177, 198, 0.6),
      3px 3px 3px rgba(163, 177, 198, 0.659),
      -1px -1px 5px rgba(255, 255, 255, 0.742),
      -5px -5px 10px rgba(255, 255, 255, 0.641);
  }
  .about-txt {
    font-size: 20px;
    margin: 0px;
  }
  .goal-txt {
    margin: 0px;
    font-size: 18px;
  }
}
