@font-face {
  font-family: "FuturaRound";
  src: url("./assets/fonts/futura-round-medium/futura-round-medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body,
button {
  margin: 0;
  padding: 0;
  background-color: #e0e5ec;
  font-family: "FuturaRound", sans-serif;
  color: #5c6063;
}
button {
  cursor: pointer;
}

.copyright-div {
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: #5c606350;
}
